[submodule "Part1/Spotlified_next_level/webmobui-correction"]
	path = Part1/Spotlified_next_level/webmobui-correction
	url = https://github.com/RobinChappalley/webmoui-correction.git
[submodule "Part1/webmobui-24-exa"]
	path = Part1/webmobui-24-exa
	url = https://github.com/RobinChappalley/webmobui-24-exa
[submodule "webmobui-24-exa"]
	path = webmobui-24-exa
	url = https://github.com/RobinChappalley/webmobui-24-exa
[submodule "Part2/WebMobUi52-live-1"]
	path = Part2/WebMobUi52-live-1
	url = git@github.com:Chabloz/WebMobUi52-live-1.git
