body {
  display: flex;
  flex-direction: column;
  background-color: green;
}
header {
  display: flex;
  justify-content: space-between;
  span {
    size: 50px;
    color: white;
  }
}
main div {
  padding: 20px;
  border: 1px solid black;
  height: 80dvh;
}
nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  div {
    align-self: center;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: red;
    transition: background-color 0.3s ease;
  }
}
